

{% extends "layout.html" %}
{% block content %}

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>CS Career Advice</h1>
        <p>This is a website devoted to helping current CS students navigate their career path</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Coding Questions &raquo;</a>
        </p>
      </div>

    </div>
  	<div class="container">
  	  <h1 class="text-center">Some Advice...</h1>
  	  	<pre>
  	  	import career_advice

  	  	print "Use python/javascript for your interviews. Avoid syntacially challenging languages"

  	  	// or if you are crazy

  	  	class CareerAdvice {
 		    public static void main(String[] args) {
        	  	System.out.println("It is going to be hard to use java for interviews. It is too verbose");
     	    	    }
		}

		// or if you love parentheses...

		(format t "Hello, world!~%")


	  </pre>

	</div>

{% endblock %}
