

{% extends "layout.html" %}
{% block content %}
<h2 align = "center"> Interview Questions <h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href = "/interview-questions/Strings-And-Arrays" target="_blank"> Strings and Arrays </a>
    </li>
  <li class="list-group-item">
      <a href = "/interview-questions/recursion-and-DP" target="_blank"> Recursion and Dynamic Programming </a>
  </li>
  <li class="list-group-item">
      <a href = "/interview-questions/graphs" target="_blank"> Graphs and Trees </a>
    </li>
</ul>



{% endblock %}
