

{% extends "layout.html" %}
{% block content %}
<h2 align = "center"> Interview Questions <h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href = "/interview-questions/Strings-And-Arrays" > Strings and Arrays </a>
    </li>
  <li class="list-group-item">
      <a href = "/interview-questions/Recursion-and-Dynamic-Programming" > Recursion and Dynamic Programming </a>
  </li>
  <li class="list-group-item">
      <a href = "/interview-questions/Graphs" > Graphs and Trees </a>
    </li>
    <li class="list-group-item">
        <a href = "/interview-questions/Linked-Lists" > Linked Lists </a>
    </li>
    <li class="list-group-item">
        <a href = "/interview-questions/Sorting" > Sorting algorithms </a>
    </li>
    <li class="list-group-item">
        <a href = "/interview-questions/Search" > Searching algorithms </a>
    </li>
</ul>



{% endblock %}
