

{% extends "layout.html" %}
{% block content %}
<h2 align = "center"> Interview Questions <h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href = "/interview-questions/Strings-And-Arrays" > Strings and Arrays </a>
    </li>
  <li class="list-group-item">
      <a href = "/interview-questions/recursion-and-DP" > Recursion and Dynamic Programming </a>
  </li>
  <li class="list-group-item">
      <a href = "/interview-questions/graphs" > Graphs and Trees </a>
    </li>
    <li class="list-group-item">
        <a href = "/interview-questions/LinkedLists" > Linked Lists </a>
    </li>
    <li class="list-group-item">
        <a href = "/interview-questions/sorting" > Sorting algorithms </a>
    </li>
    <li class="list-group-item">
        <a href = "/interview-questions/searching" > Searching algorithms </a>
    </li>
</ul>



{% endblock %}
